<div class="container">
  <div class="row">
    <h1>단일 게시글을 보여드립니다!</h1>
    <br>
    <p>제목 : <%= @posts.title %> </p>
    <p>내용 : <%= @posts.content %> </p>
    <hr>

    <hr>
    <button class="accordion">댓글달기</button>
      <div class="panel">
        <form action="/comments/create/<%= @posts.id %>" method="post">
          <p style="font-weight: bold;">내용 :</p>
          <textarea name="comments_content" class="form-control" rows="3" placeholder="댓글을 입력하세요" style="width: 60%;"></textarea>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    <br><br>
    <a href="/posts/update/<%= @posts.id %>" data-method="post">수정하기 </a>
    <a href="/posts/destroy/<%= @posts.id %>" data-method="post" data-confirm="진짜 삭제하실 겁니까?"> 제거하기</a><br>
    <a href="/">메인으로!  </a>
  </div>
  <br>
  <div class="row">
    <% @posts.comments.each do |c| %>
    <p>댓글 <%=c.id%>  :  <%= c.content %> </p>
    <a href="/comments/update/<%= c.id %>" data-method="post">수정하기</a>
    <a href="">삭제하기</a>
    <hr>
    <% end %>
  </div>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    }
}
</script>
